@import 'kenga/layout.css';

.p-menu-item {
    white-space: nowrap;
}

.p-menu-item > .p-paragraph,
.p-menu-item > .p-image,
.p-menu-item > input[type="checkbox"],
.p-menu-item > input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}

.p-menu, .p-menu-bar {
    line-height: normal;
    border: 1px solid lightgray;
    cursor: pointer;
}
